[user]
name = Hans Song
email = hans.m.song+github@gmail.com

[init]
defaultBranch = master

[core]
editor = nvim

[push]
default = simple

[diff]
tool = vimdiff

[difftool]
prompt = false

[rebase]
autoStash = true

[pull]
rebase = true

[merge]
ff = false

[advice]
skippedCherryPicks = false

[includeIf "gitdir:~/Workspace/fclimited/"]
path = .fclimited.gitconfig

[includeIf "gitdir:~/Workspace/montugroup/"]
path = ~/.montugroup.gitconfig
